.equal {
    table-layout: fixed;
    width: 100%;
    margin: 15px;
}

.green {
    background-color: lawngreen;
}

.grey {
    background-color: grey;
}

.bold {
    font-weight: bold;
}

.red {
    background-color: red;
}
