.tableRow {
  border: 1px solid black;
  margin: 20px 0;
}

.displayRow {
  display: flex;
  flex-flow: row;
  width: 100%;
  padding-bottom: 20px;
}

.displayColumn {
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
}

span {
  font-family: monospace, monospace;
}

body {
  word-break: break-word;
}

.hasAccepted {
  background-color: lightgreen;
}