.tableRow {
    border: 1px solid black;
    margin: 20px 0;
    word-break: break-word;
}

.displayRow {
    display: flex;
    flex-flow: row;
    width: 100%;
    padding-bottom: 20px;
}

.displayColumn {
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
}

span {
    font-family: monospace, monospace;
}

.hasAccepted {
    background-color: RGBA(0, 255, 0, 0.2);
}