.sticky {
  position: sticky;
  top: 2vh;
  max-height: 96vh;
}

table,
th,
td {
  border: 1px solid black;
  vertical-align: top !important;
}

td {
  padding: 3px;
}

.correct {
  background-color: lightgreen;
}

.incorrect {
  background-color: lightcoral;
}

.btn-outline-dark {
  border: 1px black solid !important;
}

.dropdown {
  max-width: fit-content;
  display: initial;
}

.equal table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  overflow-wrap: break-word;
}
