body {
  font-size: 14px;
}

.react-pdf__Document {
  border: 2px solid black;
  border-left: 1px solid black;
  line-height: initial;
}

.controls {
  border: 2px solid black;
  border-right: 1px solid black;
  padding: 5px;
  width: 400px;
  overflow-y: scroll;
  height: 100vh;
  flex: none;
}

.react-pdf__Page {
}

.react-pdf__Page__canvas {
}

#root {
  display: flex;
  box-sizing: border-box;
}

#drawing {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
}

.react-pdf__Page__textContent {
  user-select: text;
  overflow-x: hidden;
  overflow-y: hidden;
}

.main_block {
  padding: 0 6px;
}

p {
  margin: 0;
  padding: 0;
}

select {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.table_block {
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}
